<div class="container  h-100 ">
  <div class="row  text-center  h-100 justify-content-center align-items-center"> 
    <div class="col-12" style="max-width: 300px;">

      
    
      <form>
         <div class="form-group">
           <label for="email">Nickname</label>
           <input type="email" class="form-control" id="nick" aria-describedby="nick" placeholder="Enter nick" [(ngModel)]="nick" name="nick">
           <small id="emailHelp" class="form-text text-muted">Enter your nickname to chatApp</small>
         </div>
         
       
         <button type="submit" class="btn btn-primary" (click)="login()" >Login</button> 
         
       </form>

       


    </div>
  </div>
</div>
