.avatar-icon { 
   
  
  
   img {
      border-radius: 50%;
      height: 40px;
      width: 40px;
}
}

.clicked img {
 
   z-index:1000
}

.choosedAvatar  img{
   border-radius: 50%;
   height: 120px;
   width: 120px;
   
}

.btn-primary {
   background-color: rgb(17, 134, 117);
   border-color:  rgb(17, 134, 117);
   border-radius: 50px;
   padding-left:40px;
   padding-right:40px;
}