<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container-md app">
  
  <div class="row app-one">
    <app-main style="width:100%" *ngIf="!logged"> </app-main>

    <!-- DESKTOP -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-12 side"  *ngIf="logged && !mobileDevice">
        <app-left-bar></app-left-bar>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-7  col-12 conversation" *ngIf="logged && !mobileDevice ">
        <app-chat-page ></app-chat-page>
      </div>


    <!-- MOBILE -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-12 side"  *ngIf="logged && mobileDevice && !openedChat">
        <app-left-bar></app-left-bar>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-7  col-12 conversation" *ngIf="logged && mobileDevice && openedChat ">
          <app-chat-page ></app-chat-page>
      </div>
     
   


  </div>
</div>
